// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

//$background-color: #e6e6e6;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #009245, // Evergreen
  secondary:  #80AABE, // Fjord Blue
  danger:     #D00000, // Rose Red
  light:      #e6e6e6, // Pearl White
  dark:       #222     // Midnight Black
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$border-radius: 0px;

$alert-md-border-radius: $border-radius;
$alert-md-button-border-radius: $border-radius;
$alert-md-checkbox-border-radius: $border-radius;
$alert-md-radio-border-radius:  $border-radius;
$alert-md-radio-icon-border-radius: $alert-md-radio-border-radius;
$badge-md-border-radius: $border-radius;
$button-md-border-radius: $border-radius;
//$button-md-round-border-radius: $border-radius;
$card-md-border-radius: $border-radius;
$checkbox-md-icon-border-radius: $border-radius;
$chip-md-border-radius: $border-radius;
$item-md-avatar-border-radius: $border-radius;
$list-inset-md-border-radius: $border-radius;
$loading-md-border-radius: $border-radius;
$popover-md-border-radius: $border-radius;
$radio-md-icon-border-radius: $border-radius;
$range-md-tick-border-radius: $border-radius;
$searchbar-md-input-border-radius: $border-radius;
$toggle-md-handle-border-radius: $border-radius;
$toolbar-md-button-border-radius: $border-radius;
$modal-ios-border-radius: $border-radius;

.md .modal-wrapper {
  border-radius: 0;
}

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// Themes
@import "theme-dark";
@import "theme-light";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";
@import "pinetree-icons";


// Fonts
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Rubik');

$font-family-base: "Rubik", sans-serif;
$font-family-ios-base:	$font-family-base;
$font-family-md-base:	$font-family-base;
$font-family-wp-base:	$font-family-base;
